/* Footer */
footer{
    width: 100%;
    height: 100%;
    background-color: black;
    display: block;    
    padding-bottom: 15px;
}
.footer__body {
   width: 80%;
   margin: 0 auto;
}
.Footer__panel {
    display: flex;
    justify-content: space-around;
}
.footer__social {
    margin-top: 38px;
    font-size: 3.4rem;
    line-height: 1.2;
    font-weight: 400;
}
.social-link__footer {
    font-size: 2.1rem;
    line-height: 1.2;
    font-weight: 400;
    color: #cccccc;
}
.footer__copyrigt{
    text-align: center;
    opacity: 0.5;
    font-family: "Open Sans";
    font-size: 0.9rem;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}